@font-face {
  font-style: normal;
  font-family: "JetBrains Mono";
  font-display: swap;
  src: local("JetBrains Mono"), local("JetBrains-Mono"), url("../lib/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("../lib/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff") format("woff"), url("../lib/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot") format("embedded-opentype"), url("../lib/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-family: "FiraCode";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/FiraCode-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-family: "FiraCode";
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/FiraCode-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Recursive';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/RecursiveMonoCslSt-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Recursive';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/RecursiveMonoCslSt-Bold.woff2") format("woff2");
}