/* .footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: .5;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 760px;
    max-width: 100%;

    @media ($tablet) {
      flex-direction: column;
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-items: center;
    font-size: 1rem;
    justify-content: center;

    &--user {
      margin: auto;
      text-align: center;
    }

    & > *:first-child:not(:only-child) {
      margin-right: 10px;
    }

    span {
      white-space: nowrap;
    }
  }
} */

.extended_footer {
  /*background-color: $accent;*/

  // display: flex;
  //height: 10vh;
  width: 100%;
  max-width: 100vw;
  // margin: 0 auto;
  // box-sizing:border-box;
  background-color: $accent;
  // line-height: 1.3;
  // position: relative;
  text-align: center;

  &__links {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    padding: 40px 0;
  }

  .copyright {
    padding: 20px 0;
    color: #FFFFFF;
    opacity: .2;
  }

  ul {
    grid-auto-flow: column;


  }

  a {
    color: white;
    text-decoration: none;
  }

  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  li {
    transition: all 0.1s ease-in-out;
  }

  li:hover {
    transform: scale(1.4);
  }

  @keyframes wave-animation {

    0%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(20deg);
    }

    75% {
      transform: rotate(-15deg);
    }
  }
}