.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: $background;
  /*color: #F2EEDE;*/
  white-space: nowrap;
  border: 2px solid;
  padding: 3px 8px;
  margin-right: 6px;
}
