$color-background: #F2EEDE;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #D8D5C7;
$color-meta: #555555;
$color-meta-code: #555555;
$color-link: #555555;
$color-text: #000000;
$color-accent-3: #000000;
$color-accent-2: #000000;
$color-accent-1: #43e099;
$color-quote: #555555;